<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Devart.Data" version="5.0.1823" targetFramework="net461" />
  <package id="Devart.Data.MySql" version="8.10.1031" targetFramework="net461" />
  <package id="DocX" version="1.1.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.10.4" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net461" />
</packages>